Port 22
ListenAddress 0.0.0.0
HostKey /data/sshd/ssh_host_ed25519_key

PermitRootLogin prohibit-password
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
AuthorizedKeysFile /data/ssh/authorized_keys

ForceCommand /usr/local/libexec/lxc-shell
Subsystem sftp internal-sftp

AllowAgentForwarding no
X11Forwarding no
AllowTcpForwarding yes
